<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions MUST be outside <application> -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheChair">
        <activity
            android:name=".Professional.ProEditProfile"
            android:exported="false" />
        <activity
            android:name=".Professional.ImageViewer"
            android:exported="false" />
        <activity
            android:name=".AuthFlow.AuthFlow"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" /> <!-- Activities -->
        <activity
            android:name=".Customer.ConfirmBooking"
            android:exported="false" />
        <activity
            android:name=".Customer.PickDateActivity"
            android:exported="false" />
        <activity
            android:name=".Customer.PickServiceActivity"
            android:exported="false" />
        <activity
            android:name=".Professional.MyAvailability"
            android:exported="false" />
        <activity
            android:name=".Professional.AddService"
            android:exported="false" />
        <activity
            android:name=".Professional.MyServices"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerEditProfile"
            android:exported="false" />
        <activity
            android:name=".AuthFlow.SignUpstg3"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".AuthFlow.SignUpstg2"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".Customer.CustomerHome"
            android:exported="false" />
        <activity
            android:name=".Professional.ServiceProviderHome"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>